html {
    /* background: lightcoral; */
    /* background: #74b9ff; */
    background: #0984e3;
}

nav {
    /* background: lightblue; */
    padding: 2px 2px;
    border-bottom: solid 2px #D82038;
    margin-bottom: 20px;
}

nav > ul {
    margin: 0;
}

nav > ul > li {
    display: inline-block;
    margin-left: 20px;
}

nav ul > li > a {
    color: #14D8D2;
}

.navBtn {
    color: #14D8D2;
}

/* .navBtn:hover {
    background: #14D8D2;
    color:  black;
} */

nav ul > li > a:hover {
    background: #14D8D2;
    color:  black;
}

.day {
    margin-bottom: 15px;
    background: #FFFFFF;
    color: #1A86E0;
    padding: 5px;
}

.dayName {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: -webkit-fill-available;
    height: 30px;
    /* background: #74b9ff; */
    background: #0984e3;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border {
    border-radius: 5px;
}

.shiftsContainer {
    margin: 10px 5px; 
}
.shifts-header {
    /* border-bottom: solid 1px #14D8D2; */
    margin-bottom: 10px;
}

.shifts-header > span {
    padding-right: 10px;
}

.shiftSlots {
    display: block;
    margin-bottom: 10px;
    /* background: #71AD9B; */
    padding: 8px 5px;
    /* border-top: solid 1px black; */
    border-top: solid 1px #1A86E0;
    color: #1A86E0;
}

.shiftSlots:hover {
    background: lightgrey;
}

.shiftSlots:focus {
    background: lightgrey;
}

.shiftParts {
    /* color: #E5E6E7; */
    color: #1A86E0;
    padding: 0px 3px;
    margin: 2px 2px;
    /* background: #66A390; */
    /* border-left: solid 1px black; */
}

/* .shift-btns {
    border: solid 1px black;
    border-radius: 5px;
    float: right;
    margin: 0 2px;
} 
*/

.delete-shift-btn {
    /* background-color: red; */
    color: #ff7979;
}

.modify-shift-btn {
    /* background: #888A8C; */
    color: #1A86E0;
}

.submit-form-btn {
    color: white;
    background: border-box;
    background: #1BBC7C;
    border-radius: 5px;
    border: #1BBC7C;
    margin: auto;
    width: -webkit-fill-available;
    display: block;
    padding: 5px;
}

.add-shift-form-elem {
    display: block;
    color: #ffffff;
}

.addShiftForm fieldset {
    color: #ffffff;
    background: #1A86E0;
    border: #1A86E0 1px solid;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.addShiftForm fieldset legend {
    padding-top: 30px;
}

.gridContainer {
    display: grid;
    grid-template-columns: [first] 15% [line2] 15% [line3] 15% [line4] 35% [end] 20%;
    grid-template-rows: [first] 50% [last] 50%;
}
.gridItems {
    /* grid-column: 5;
    grid-row: 1; */
    place-self: auto;
}

.gridItem-a {
    grid-row: first;
    grid-column: 5;
    justify-self: center;
    align-self: center;
}
.gridItem-b {
    grid-row: last;
    grid-column: 5;
    justify-self: center;
    align-self: center;
}

.startTime {}
.endTime {}
.totalHours {}
.employeeName {}
/* 
body
    > background: #6272C0
 */


    /* fancy stuff */
    /* 
    
#pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: red;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
    
    */


    #anim {
        width: 50px;
        padding: 50px;
        background: gold;
        text-align: center;
    }
    #anim:hover {    
        -webkit-animation: shake 0.1s ease-in-out 0.1s;
        /* -o-animation-iteration-count: infinite; */
    }
    
    @-webkit-keyframes shake {
     from {
        -webkit-transform: rotate(10deg);
     }
     to {
       -webkit-transform-origin:center center;
       -webkit-transform: rotate(-10deg);
     }
    
    }