html {
    background: lightcoral;
}

nav {
    /* background: lightblue; */
    padding: 2px 2px;
    border-bottom: solid 2px #D82038;
}

nav > ul {
    margin: 0;
}

nav > ul > li {
    display: inline-block;
    margin-left: 20px;
}

.day {
    margin-bottom: 15px;
}

.border {
    border: solid 2px black;
}

.shiftSlots {
    display: block;
    margin-bottom: 10px;
    /* background: #71AD9B; */
    padding: 8px 5px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.shiftParts {
    color: #E5E6E7;
    padding: 3px 3px;
    margin: 2px 2px;
    /* background: #66A390; */
    border-left: solid 1px black;
}

.dayName {
    display: inline-block;
    margin: 0;
    width: 5%;
    height: 60px;
}

.shift-btns {
    border: solid 1px black;
    border-radius: 5px;
    float: right;
    margin: 0 2px;
}

.delete-shift-btn {
    background-color: red;
}

.modify-shift-btn {
    background: #888A8C;
}


.startTime {}
.endTime {}
.totalHours {}
.employeeName {}

body
    > background: #6272C0



    /* fancy stuff */
    /* 
    
#pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: red;
  }
  #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
    
    */