nav {
    background: lightblue;
}

nav > ul > li {
    display: inline-block;
    margin-left: 20px;
}

.day {
    margin-bottom: 15px;
}

.border {
    border: solid 2px black;
}

.shiftSlots {
    display: block;
}

.tableName {
    color: red;
    display: block;
    font-size: 2rem;
}

.dayName {
    display: inline-block;
    margin: 0;
    width: 5%;
    height: 60px;
}